{% extends "base.html" %}
{% load profile_tags %}

{% block title %}{{ request.user.username }}'s Profile | Booklogs{% endblock %}

{% block content %}

<style>
.flexrow { 
    display: flex;
    border: 2px black;
}
.flexrow > div { flex: 1; }

.infocell {
    border: 2px solid green;
    border-radius: 5px;
    background-color: azure;
    padding: 5px;
    margin: 20px 5px 5px 5px;
}

.infocell h3{
    color: green;
}

.infocell p, h3{
    margin-left: 15px;
    margin-top: 15px;
}
</style>

  <div class="flexrow" >
    <div class="infocell" >
      <h3>Profile</h3>
      <p>
          - <strong>Username:</strong> {{ request.user.username }} <br>
          - <strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}<br>
          - <strong>Date Joined:</strong> <em>{{ request.user.date_joined }}</em><br>
          - <strong>Email:</strong> {{ request.user.email }}<br>
          - <strong>Last Login:</strong> <em>{{ request.user.last_login }}</em><br>
      </p>
    </div>

    <div class="infocell" >
      <h3>Viewed Books</h3>
      <p>
        {% book_list user.username %}
      </p>
    </div>

    <div class="infocell" >
      <h3>Search History</h3>
      <p>
        {% for search_in, search in request.session.search_history %}
        <a href="{% url 'book_search' %}?search={{search|urlencode}}&search_in={{ search_in}}" >
          - {{ search }} <em>({{ search_in }})</em></a>
        <br>
        {% empty %}
          No search history found.
        {% endfor %}
      </p>
    </div>
  </div>

{% endblock %}